<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.polyfit_app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".Service.ForegroundServices"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name=".Activity.DishesTodayActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activity.MealsActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ReminderActivity" />
        <activity android:name=".Activity.SplashScreen" />
        <activity android:name=".Activity.TutorialActivity" />
        <activity android:name=".Activity.ExerciseDetailsActivity" />
        <activity
            android:name=".Activity.ExercisesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Login.StepTwoSignUpActivity" />
        <activity android:name=".Activity.Login.StepOneSignUpActivity" />
        <activity android:name=".Activity.Login.LoginActivity" />
        <activity android:name=".Activity.Login.LoginMethod" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".Activity.ReminderScreenActivity" />

        <receiver android:name=".Service.Reminder.ReminderServices">
            <intent-filter>
                <action android:name="reminderServices" />
            </intent-filter>
        </receiver>
        <service
            android:name=".Service.remote.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.local.StepCountServices" />
    </application>

</manifest>